body { background-color : white;}
.login-page{ margin : auto;  width : auto; height : 100vh; background-color : white;}
section .login .main_login { justify-content: center; height: auto; }
section .login  .advertisement img{ display: none; color : rgba(90, 148, 253, 0.9)}

