body { margin : 0px}
button { cursor : pointer; outline : none; padding : 0px}
a { color : black; text-decoration: none;}
img { display: block;}
h1,h2,h3,h4,h5,h6,p,ul { margin : 0px; padding : 0px;}
li { list-style : none} input { outline : none; padding :0px;}

body { background-color : #ececee}
.login-page{ margin : 0px auto; width : 700px; height : 100vh; background-color : white;}

header {padding-top : 26px; padding-bottom : 23px; border-bottom-style : solid; border-width : 1px; border-color : rgb(224,224, 224)} 
header div { height : 40px; width : 98px; margin : 0px auto;}
header div img { height : 40px; width : 98px; }

section .login{ padding-top : 60px; padding-left : 40px; padding-right: 40px; }
section .login .main_login {  display : flex; justify-content: space-between; }
section .login  .advertisement img{ width:248px ;  height: 248px; border: 1px solid #d6d6d6}
section .login form {  display: flex; flex-direction: column; width: 300px; height : 250px; }
section .login form #id, #pw { padding : 0px 15px; box-sizing :border-box; border: 1px solid #d6d6d6; width: 298px; height: 46px; }
section .login form #pw { margin-top : 7px;}
section .login form #send { cursor : pointer; color : white; font-size : 18px; border: none; background-color : #4d87ef; width : 300px; height: 50px; margin-top : 20px; }
section .set_login { background: white;; width : 300px; height :38px; display : flex; justify-content: space-between; align-items: center; }
section .set_login div{ background-color: white; display: flex; height : 21px; align-items: center;}
section .set_login div label { margin-top : 1px; font-size : 12px; color : #555; margin-left : 5px;}
section .set_login div a { display: flex; align-items: center; font-size :12px; color : #767676  }
section .set_login  img {margin-left : 4px; width : 24px; height : 10px; margin-top : 2.5px; }
section form nav { display: flex; justify-content: center; margin-top : 18px; width: 300px; height: 16px; }
section form nav a { padding : 0px 19px; font-size : 12px; color : #7f7f7f}
section form nav span { display: block; width : 2px; height: 13px; margin-top : 2px; background-color : #e0e0e5}

footer { display: flex;  align-items: center; justify-content: center; margin-top : 80px; padding-top : 18px; border-top-style : solid; border-color : #ebebeb;  border-width : 1px;   }
footer a { height : 20px; line-height : 20px; padding : 0px 19px; font-size : 12px; color : #7f7f7f}
footer .logo_text { margin-bottom : 2.5px;}
footer span { width : 1px; height: 12px; display: block; background-color : #e2e5ec}
